<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/frugal_feast"
        android:roundIcon="@mipmap/frugal_feast_round"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.FrugalFeast"
        tools:targetApi="31"
        tools:ignore="DiscouragedApi">
        <activity
            android:name=".EditarReceta"
            android:exported="false" />
        <activity
            android:name=".Contactanos"
            android:exported="false" />
        <activity
            android:name=".Busqueda"
            android:exported="false" />
        <activity
            android:name=".InteraccionIA"
            android:exported="false" />
        <activity
            android:name=".Miperfil"
            android:exported="false" />
        <activity
            android:name=".MiMenu"
            android:exported="false" />
        <activity
            android:name=".EditarPerfil"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".PantallaPrincipalReceta"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".AgregarReceta"
            android:exported="false" />
        <activity
            android:name=".AgregarRecetaSeg"
            android:exported="false" />
        <activity
            android:name=".RecetasGuardadas"
            android:exported="false" />
        <activity
            android:name=".PantallaPrincipal"
            android:exported="false"
            android:theme="@style/Theme.FrugalFeast" />
        <activity
            android:name=".SobreApp"
            android:exported="false" />
        <activity
            android:name=".CaloriasResultado"
            android:exported="false" />
        <activity
            android:name=".MisRecetas"
            android:exported="false" />
        <activity
            android:name=".CalcularCalorias"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".TerminosyCondiciones"
            android:exported="false" />
        <activity
            android:name=".Politicadeprivacidad"
            android:exported="false" />
        <activity
            android:name=".ConfiguracionyPrivacidad"
            android:exported="false" />
        <activity
            android:name=".PresentacionIA"
            android:exported="false" />
        <activity
            android:name=".Recuperar"
            android:exported="false" />
        <activity
            android:name=".IniciarSesion"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Registro"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".inicio3"
            android:exported="false" />
        <activity
            android:name=".inicio2"
            android:exported="false" />
        <activity
            android:name=".inicio1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>